In [1]:
from pymongo import MongoClient

# Inisialisasi
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [2]:
# Insert Banyak Data
employee_data = [{
    'name': 'Abdi',
    'department': 'IT Manager',
    'age': 25,
    'salary': 10000
},
{
    'name': 'Aziz',
    'department': 'HR',
    'age': 32,
    'salary': 8000
},
{
    'name': 'Diana',
    'department': 'IT Manager',
    'age': 40,
    'salary': 10000
}
]
collection.insert_many(employee_data)
print('Data inserted')

Data inserted

In [3]:
# Insert Satu Data 
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

Data inserted

In [4]:
# Update satu data
collection.update_one(
    {'name': 'Alice'},
    {'$set': {'age': 28}}
)
print('Data updated')

Data updated

In [5]:
# Update banyak data
collection.update_many(
    {'department': 'IT Manager'},
    {'$set': {'salary': 11000}}
)
print('Data updated')

Data updated

In [6]:
# Hapus satu data
collection.delete_one(
    {'name': 'Aziz'}
)
print("Data deleted")

Data deleted

In [7]:
# Hapus banyak data
collection.delete_many(
    {'department': 'IT Manager'}
)
print('Data deleted')

Data deleted

In [9]:
from prettytable import PrettyTable

# Menampilkan data dalam bentuk tabel
table = PrettyTable()
table.field_names = ["Name", "Department", "Age", "Salary"]

for employee in collection.find():
    table.add_row([
        employee.get('name', ''),
        employee.get('department', ''),
        employee.get('age', ''),
        employee.get('salary', '')
    ])

print(table)

+-------+------------+-----+--------+
|  Name | Department | Age | Salary |
+-------+------------+-----+--------+
| Alice |  Finance   |  28 |  4500  |
| Alice |  Finance   |  29 |  4500  |
+-------+------------+-----+--------+

In [13]:
# Agregat: Mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline): 
    print(result)

{'_id': 'Finance', 'average_salary': 4500.0}

In [10]:
# Membuat koleksi baru 'products' dan menambahkan data
products = db['products']

product_data = [
    {'name': 'Buku Tulis', 'category': 'Alat Tulis', 'price': 10000},
    {'name': 'Pulpen', 'category': 'Alat Tulis', 'price': 5000},
    {'name': 'Pensil', 'category': 'Alat Tulis', 'price': 3000},
    {'name': 'Penghapus', 'category': 'Alat Tulis', 'price': 2000},
    {'name': 'Tas Kuliah', 'category': 'Perlengkapan', 'price': 120000},
    {'name': 'Laptop', 'category': 'Elektronik', 'price': 6500000},
    {'name': 'Mouse', 'category': 'Elektronik', 'price': 75000},
    {'name': 'Flashdisk', 'category': 'Elektronik', 'price': 50000},
    {'name': 'Botol Minum', 'category': 'Perlengkapan', 'price': 25000},
    {'name': 'Kalkulator', 'category': 'Elektronik', 'price': 150000}
]

products.insert_many(product_data)
print('Data inserted')

Data inserted

In [11]:
# Query produk dengan harga di atas rata-rata
avg_price = products.aggregate([
    {'$group': {'_id': None, 'avgPrice': {'$avg': '$price'}}}
])
average = list(avg_price)[0]['avgPrice']

for product in products.find({'price': {'$gt': average}}):
    print(product)

{'_id': ObjectId('690b52eec2367fbf18ad90cf'), 'name': 'Laptop', 'category': 'Elektronik', 'price': 6500000}

In [12]:
# Aggregation pipeline untuk menghitung total produk dalam setiap kategori
pipeline = [
    {'$group': {'_id': '$category', 'total_products': {'$sum': 1}}}
]

for result in products.aggregate(pipeline):
    print(result)

{'_id': 'Alat Tulis', 'total_products': 4}
{'_id': 'Perlengkapan', 'total_products': 2}
{'_id': 'Elektronik', 'total_products': 4}