In [3]:
from pymongo import MongoClient

# Inisialisasi
client = MongoClient('mongodb://localhost:27017/')
db = client['companyDB']
employees = db['employees']

# Memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [4]:
data = [
    {'name': 'Andi', 'department': 'IT', 'age': 28, 'salary': 8000},
    {'name': 'Budi', 'department': 'IT', 'age': 25, 'salary': 7000},
    {'name': 'Citra', 'department': 'IT', 'age': 30, 'salary': 9500},
    {'name': 'Dian', 'department': 'IT', 'age': 26, 'salary': 6800},
    {'name': 'Eka', 'department': 'IT', 'age': 32, 'salary': 10000},
    {'name': 'Fajar', 'department': 'HRD', 'age': 29, 'salary': 7500},
    {'name': 'Gina', 'department': 'HRD', 'age': 34, 'salary': 9000},
    {'name': 'Hana', 'department': 'HRD', 'age': 27, 'salary': 6200},
    {'name': 'Ivan', 'department': 'HRD', 'age': 31, 'salary': 8800},
    {'name': 'Joko', 'department': 'HRD', 'age': 33, 'salary': 9700},
    {'name': 'Kiki', 'department': 'Finance', 'age': 29, 'salary': 7200},
    {'name': 'Lina', 'department': 'Finance', 'age': 26, 'salary': 6000},
    {'name': 'Mira', 'department': 'Finance', 'age': 31, 'salary': 8700},
    {'name': 'Niko', 'department': 'Finance', 'age': 27, 'salary': 6500},
    {'name': 'Omar', 'department': 'Finance', 'age': 30, 'salary': 9500},
    {'name': 'Putri', 'department': 'Marketing', 'age': 29, 'salary': 7800},
    {'name': 'Qori', 'department': 'Marketing', 'age': 33, 'salary': 8600},
    {'name': 'Rudi', 'department': 'Marketing', 'age': 26, 'salary': 6900},
    {'name': 'Sari', 'department': 'Marketing', 'age': 32, 'salary': 9100},
    {'name': 'Tio', 'department': 'Marketing', 'age': 30, 'salary': 9900},
    {'name': 'Umar', 'department': 'IT', 'age': 24, 'salary': 6100},
    {'name': 'Vina', 'department': 'Finance', 'age': 25, 'salary': 7100},
    {'name': 'Wulan', 'department': 'HRD', 'age': 28, 'salary': 8300},
    {'name': 'Xeno', 'department': 'IT', 'age': 27, 'salary': 7300},
    {'name': 'Yoga', 'department': 'Marketing', 'age': 35, 'salary': 10500},
    {'name': 'Zara', 'department': 'Finance', 'age': 34, 'salary': 9900},
    {'name': 'Rio', 'department': 'IT', 'age': 29, 'salary': 9200},
    {'name': 'Sinta', 'department': 'HRD', 'age': 24, 'salary': 5800},
    {'name': 'Tari', 'department': 'Finance', 'age': 28, 'salary': 8900},
    {'name': 'Bela', 'department': 'Marketing', 'age': 27, 'salary': 9300}
]

employees.insert_many(data)

InsertManyResult([ObjectId('690b574323ec9fa16823a3ec'), ObjectId('690b574323ec9fa16823a3ed'), ObjectId('690b574323ec9fa16823a3ee'), ObjectId('690b574323ec9fa16823a3ef'), ObjectId('690b574323ec9fa16823a3f0'), ObjectId('690b574323ec9fa16823a3f1'), ObjectId('690b574323ec9fa16823a3f2'), ObjectId('690b574323ec9fa16823a3f3'), ObjectId('690b574323ec9fa16823a3f4'), ObjectId('690b574323ec9fa16823a3f5'), ObjectId('690b574323ec9fa16823a3f6'), ObjectId('690b574323ec9fa16823a3f7'), ObjectId('690b574323ec9fa16823a3f8'), ObjectId('690b574323ec9fa16823a3f9'), ObjectId('690b574323ec9fa16823a3fa'), ObjectId('690b574323ec9fa16823a3fb'), ObjectId('690b574323ec9fa16823a3fc'), ObjectId('690b574323ec9fa16823a3fd'), ObjectId('690b574323ec9fa16823a3fe'), ObjectId('690b574323ec9fa16823a3ff'), ObjectId('690b574323ec9fa16823a400'), ObjectId('690b574323ec9fa16823a401'), ObjectId('690b574323ec9fa16823a402'), ObjectId('690b574323ec9fa16823a403'), ObjectId('690b574323ec9fa16823a404'), ObjectId('690b574323ec9fa16823a405'), ObjectId('690b574323ec9fa16823a406'), ObjectId('690b574323ec9fa16823a407'), ObjectId('690b574323ec9fa16823a408'), ObjectId('690b574323ec9fa16823a409')], acknowledged=True)

In [6]:
from prettytable import PrettyTable

# Menampilkan 5 karyawan dengan gaji tertinggi per departemen
pipeline = [
    {'$sort': {'department': 1, 'salary': -1}},  # Urutkan berdasarkan departemen & gaji tertinggi
    {'$group': {
        '_id': '$department',
        'top_employees': {'$push': {'name': '$name', 'salary': '$salary'}}
    }},
    {'$project': {'top_5': {'$slice': ['$top_employees', 5]}}}  # Ambil hanya 5 teratas
]

# Menampilkan hasil dalam tabel
for result in employees.aggregate(pipeline):
    dept = result['_id']
    table = PrettyTable()
    table.field_names = ["Nama", "Gaji"]
    for emp in result['top_5']:
        table.add_row([emp['name'], emp['salary']])
    print(f"\n=== Departemen: {dept} ===")
    print(table)

=== Departemen: Finance ===
+------+------+
| Nama | Gaji |
+------+------+
| Zara | 9900 |
| Omar | 9500 |
| Tari | 8900 |
| Mira | 8700 |
| Kiki | 7200 |
+------+------+

=== Departemen: HRD ===
+-------+------+
|  Nama | Gaji |
+-------+------+
|  Joko | 9700 |
|  Gina | 9000 |
|  Ivan | 8800 |
| Wulan | 8300 |
| Fajar | 7500 |
+-------+------+

=== Departemen: IT ===
+-------+-------+
|  Nama |  Gaji |
+-------+-------+
|  Eka  | 10000 |
| Citra |  9500 |
|  Rio  |  9200 |
|  Andi |  8000 |
|  Xeno |  7300 |
+-------+-------+

=== Departemen: Marketing ===
+------+-------+
| Nama |  Gaji |
+------+-------+
| Yoga | 10500 |
| Tio  |  9900 |
| Bela |  9300 |
| Sari |  9100 |
| Qori |  8600 |
+------+-------+

In [7]:
# Menghapus semua karyawan yang berusia di bawah 25 tahun
delete_result = employees.delete_many({'age': {'$lt': 25}})

print(f"{delete_result.deleted_count} data karyawan di bawah 25 tahun telah dihapus.")

2 data karyawan di bawah 25 tahun telah dihapus.

In [8]:
# Laporan total gaji dan rata-rata umur per departemen
pipeline = [
    {'$group': {
        '_id': '$department',
        'total_salary': {'$sum': '$salary'},
        'average_age': {'$avg': '$age'}
    }}
]

for result in employees.aggregate(pipeline):
    print(f"Departemen: {result['_id']}")
    print(f"Total Gaji: {result['total_salary']}")
    print(f"Rata-rata Umur: {round(result['average_age'], 2)}\n")

Departemen: Finance
Total Gaji: 63800
Rata-rata Umur: 28.75

Departemen: HRD
Total Gaji: 49500
Rata-rata Umur: 30.33

Departemen: IT
Total Gaji: 57800
Rata-rata Umur: 28.14

Departemen: Marketing
Total Gaji: 62100
Rata-rata Umur: 30.29