In [3]:
import pandas as pd

# Load data
data = pd.read_csv('mening missing 12.csv')
df = pd.DataFrame(data)

# Identify missing values
missing_values = df.isnull()
print(missing_values.any())

# Show missing values
df[missing_values.any(axis=1)]

Patient_ID          False
Age                  True
Gender               True
WBC_Count            True
Protein_Level        True
Glucose_Level        True
Pathogen_Present     True
Diagnosis            True
Outcome              True
Hemoglobin           True
WBC_Blood_Count      True
Platelets            True
CRP_Level            True
Risk_Level          False
dtype: bool

,Patient_ID,Age,Gender,WBC_Count,Protein_Level,Glucose_Level,Pathogen_Present,Diagnosis,Outcome,Hemoglobin,WBC_Blood_Count,Platelets,CRP_Level,Risk_Level
5,6,NaN,Female,16688.0,166.0,27.0,Yes,Bacterial,Recovered,5.0,15880.0,116419.0,35.0,High Risk
6,7,NaN,Male,19727.0,171.0,26.0,Yes,Bacterial,Recovered,7.0,14439.0,140626.0,36.0,High Risk
7,8,NaN,Male,16576.0,114.0,1.0,Yes,Bacterial,Recovered,5.0,12982.0,118475.0,25.0,High Risk
8,9,NaN,Male,5848.0,45.0,54.0,No,Viral,Recovered,15.0,7865.0,353841.0,2.0,Low Risk
9,10,NaN,Male,6235.0,45.0,50.0,No,Viral,Recovered,16.0,6739.0,186656.0,0.0,Low Risk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,212,69.0,Male,18078.0,92.0,22.0,Yes,Viral,Recovered,2.0,14840.0,132130.0,NaN,High Risk
212,213,21.0,Male,13783.0,162.0,21.0,Yes,Bacterial,Recovered,8.0,13177.0,134527.0,NaN,High Risk
213,214,51.0,Female,12472.0,189.0,29.0,Yes,Bacterial,Recovered,4.0,17603.0,119511.0,NaN,High Risk
214,215,61.0,Female,12971.0,136.0,31.0,Yes,Bacterial,Recovered,1.0,19396.0,147936.0,NaN,High Risk
215,216,64.0,Male,18817.0,138.0,19.0,Yes,Bacterial,Recovered,8.0,16913.0,105150.0,NaN,High Risk

In [4]:
# Filling missing values with mean and mode
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)
df['WBC_Count'].fillna(df['WBC_Count'].mean(), inplace=True)
df['Protein_Level'].fillna(df['Protein_Level'].mean(), inplace=True)
df['Glucose_Level'].fillna(df['Glucose_Level'].mean(), inplace=True)
df['Pathogen_Present'].fillna(df['Pathogen_Present'].mode()[0], inplace=True)
df['Diagnosis'].fillna(df['Diagnosis'].mode()[0], inplace=True)
df['Outcome'].fillna(df['Outcome'].mode()[0], inplace=True)
df['Hemoglobin'].fillna(df['Hemoglobin'].mean(), inplace=True)
df['WBC_Blood_Count'].fillna(df['WBC_Blood_Count'].mean(), inplace=True)
df['Platelets'].fillna(df['Platelets'].mean(), inplace=True)
df['CRP_Level'].fillna(df['CRP_Level'].mean(), inplace=True)

/tmp/ipykernel_4858/2352774693.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
/tmp/ipykernel_4858/2352774693.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)
/tmp/ipykernel_4858/2352774693.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['WBC_Count'].fillna(df['WBC_Count'].mean(), inplace=True)
/tmp/ipykernel_4858/2352774693.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Protein_Level'].fillna(df['Protein_Level'].mean(), inplace=True)
/tmp/ipykernel_4858/2352774693.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Glucose_Level'].fillna(df['Glucose_Level'].mean(), inplace=True)
/tmp/ipykernel_4858/2352774693.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Pathogen_Present'].fillna(df['Pathogen_Present'].mode()[0], inplace=True)
/tmp/ipykernel_4858/2352774693.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Diagnosis'].fillna(df['Diagnosis'].mode()[0], inplace=True)
/tmp/ipykernel_4858/2352774693.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Outcome'].fillna(df['Outcome'].mode()[0], inplace=True)
/tmp/ipykernel_4858/2352774693.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Hemoglobin'].fillna(df['Hemoglobin'].mean(), inplace=True)
/tmp/ipykernel_4858/2352774693.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['WBC_Blood_Count'].fillna(df['WBC_Blood_Count'].mean(), inplace=True)
/tmp/ipykernel_4858/2352774693.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Platelets'].fillna(df['Platelets'].mean(), inplace=True)
/tmp/ipykernel_4858/2352774693.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CRP_Level'].fillna(df['CRP_Level'].mean(), inplace=True)

In [12]:
df.head(10)

,Patient_ID,Age,Gender,WBC_Count,Protein_Level,Glucose_Level,Pathogen_Present,Diagnosis,Outcome,Hemoglobin,WBC_Blood_Count,Platelets,CRP_Level,Risk_Level
0,1,101.000000,Female,8624.0,16.0,83.0,No,Viral,Recovered,15.0,7269.0,160949.0,71.0,Moderate Risk
1,2,78.000000,Male,22623.0,200.0,41.0,No,Unknown,Recovered,18.0,6532.0,371741.0,41.0,High Risk
2,3,8.000000,Female,12908.0,39.0,3.0,No,Unknown,Recovered,16.0,7417.0,180403.0,22.0,Moderate Risk
3,4,104.000000,Female,15072.0,58.0,36.0,Yes,Bacterial,Recovered,7.0,13792.0,132254.0,48.0,Moderate Risk
4,5,38.000000,Female,18623.0,152.0,34.0,Yes,Bacterial,Recovered,5.0,17054.0,134941.0,28.0,High Risk
5,6,47.432523,Female,16688.0,166.0,27.0,Yes,Bacterial,Recovered,5.0,15880.0,116419.0,35.0,High Risk
6,7,47.432523,Male,19727.0,171.0,26.0,Yes,Bacterial,Recovered,7.0,14439.0,140626.0,36.0,High Risk
7,8,47.432523,Male,16576.0,114.0,1.0,Yes,Bacterial,Recovered,5.0,12982.0,118475.0,25.0,High Risk
8,9,47.432523,Male,5848.0,45.0,54.0,No,Viral,Recovered,15.0,7865.0,353841.0,2.0,Low Risk
9,10,47.432523,Male,6235.0,45.0,50.0,No,Viral,Recovered,16.0,6739.0,186656.0,0.0,Low Risk

In [5]:
# Transformation to normalize numerical columns
df['Gender'] = df['Gender'].replace({'Male': 1, 'Female': 0}).astype(int)
df['Pathogen_Present'] = df['Pathogen_Present'].replace({'No': 0, 'Yes': 1}).astype(int)
df['Diagnosis'] = df['Diagnosis'].replace({'Unknown': 0, 'Viral': 1, 'Bacterial':2}).astype(int)
df['Outcome'] = df['Outcome'].replace({'Recovered': 1, 'Deceased': 0}).astype(int)
df['Risk_Level'] = df['Risk_Level'].replace({'Low Risk': 0, 'Moderate Risk': 1, 'High Risk':2}).astype(int)

/tmp/ipykernel_4858/2280491514.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Gender'] = df['Gender'].replace({'Male': 1, 'Female': 0}).astype(int)
/tmp/ipykernel_4858/2280491514.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Pathogen_Present'] = df['Pathogen_Present'].replace({'No': 0, 'Yes': 1}).astype(int)
/tmp/ipykernel_4858/2280491514.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Diagnosis'] = df['Diagnosis'].replace({'Unknown': 0, 'Viral': 1, 'Bacterial':2}).astype(int)
/tmp/ipykernel_4858/2280491514.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Outcome'] = df['Outcome'].replace({'Recovered': 1, 'Deceased': 0}).astype(int)
/tmp/ipykernel_4858/2280491514.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Risk_Level'] = df['Risk_Level'].replace({'Low Risk': 0, 'Moderate Risk': 1, 'High Risk':2}).astype(int)

In [6]:
import numpy as np

Q1 = df['Age'].quantile(0.25)
Q3 = df['Age'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter untuk menghapus outlier
df_no_outlier_age = df[(df['Age'] >= lower_bound) & (df['Age'] <= upper_bound)]

print("Jumlah data awal:", len(df))
print("Jumlah data setelah menghapus outlier Age:", len(df_no_outlier_age))

Jumlah data awal: 1200
Jumlah data setelah menghapus outlier Age: 1157